/* --------------------------------- */
/* !!! custom variables */
/* --------------------------------- */

:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-900: hsl(212, 21%, 14%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* --------------------------------- */
/* !!! reset */
/* --------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: smooth;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* --------------------------------- */
/* !!! general styling */
/* --------------------------------- */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-200);

  display: grid;
  place-items: center;
  margin: 1em;
}

/* --------------------------------- */
/* !!! utilities */
/* --------------------------------- */

.flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
